<section class="page-section" id="edit">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Edit a provider</h2>
                <hr class="divider my-4" />
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="row o-hidden border-0">
                <div class="col-lg-12">
                    <form id="user" action="/provider/update/{{id}}" method="post">
                        <div class="form-group row">

                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="fname">First Name</label>
                                <input class="form-control form-control-user" id="fname" type="text" name="firstname"
                                    value="{{single_provider.first_name}}" required />
                            </div>

                            <div class="col-sm-6">
                                <label for="lname">Last Name</label>
                                <input class="form-control form-control-user" id="lname" type="text" name="lastname"
                                    value="{{single_provider.last_name}}" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="position">Position</label>
                            <input class="form-control form-control-user" id="position" type="text" name="position"
                                value="{{single_provider.position}}" required />
                        </div>

                        <div class="form-group row">

                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="cname">Company Name</label>
                                <input class="form-control form-control-user" id="cname" type="text" name="companyname"
                                    value="{{single_provider.company.company_name}}" required />
                            </div>

                            <div class="col-sm-6">
                                <label for="city">Location</label>
                                <input class="form-control form-control-user" id="city" type="text" name="location"
                                    value="{{single_provider.company.city}}" required />
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input class="form-control form-control-user" id="phone" type="phone" name="phone"
                                value="{{single_provider.company.phone}}" required />
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-8 text-center">
                                <button class="btn btn-primary btn-block my-4" type="submit">Update Provider</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>